.logo{
   width: 220px;
   height: 220px;
   background: radial-gradient(circle at 30% 107%, #feda75 0%, #fa7e1e 30%, #d62976 60%, #962fbf 90%, #4f5bd5 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30%;
   border: 1px solid white;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 50%);
}

.insta{
    margin: 3px;
    width: 205px;
    height: 205px;
    border-radius: 30%;
    background-color: white;
}

.pogo{
    width: 170px;
    height: 170px;
    background: radial-gradient(circle at 30% 107%, #feda75 0%, #fa7e1e 30%, #d62976 60%, #962fbf 90%, #4f5bd5 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30%;
   border: 1px solid white;
   position: relative;
   top: -34%;
   left: 50%;
   transform: translate(-50%, 50%);
}

.togo{
    margin: 3px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: -7%;
   
}

.sogo{
    margin: 3px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: -34%;
    left: 60%;
    
}

.kogo{
    width: 60px;
    height: 60px;
  background: radial-gradient(circle at 30% 107%, #feda75 0%, #fa7e1e 30%, #d62976 60%, #962fbf 90%, #4f5bd5 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid white;
   position: relative;
   top: -27%;
   left: 50%;
   transform: translate(-50%, 50%);
}


